# Install Dependencies

In [1]:
!pip install numpy pandas sklearn matplotlib seaborn

Requirement already satisfied: numpy in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (1.23.0)
Requirement already satisfied: pandas in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (1.5.0)
Requirement already satisfied: sklearn in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (0.0)
Requirement already satisfied: matplotlib in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (3.6.0)
Requirement already satisfied: seaborn in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (0.12.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: scikit-learn in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from sklearn) (1.1.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.37.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (20.9)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\avishake\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.9.1)

# Import Libraries

In [2]:
import numpy as np
import pandas as pd
import sklearn as skl
from matplotlib import pyplot as plt
import seaborn as sns

# Import Dataset

In [3]:
data = pd.read_csv('ElectricCarData_Clean.csv')
data

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

# Create Top View Dataset

#### We want to create a top view of the dataset to understand the data properly in order to further process data
So we will be creating a new view with the attributes => 
>||ColumnName|NoOfUniqueValues|DataType|NoOfMissingValues|IsPrimary Key||

In [25]:
col_list = list(data.columns) #Creates the list of all the Columns
topview_data = pd.DataFrame() #Creates new pandas DataFrame

for col in col_list:
    datum = pd.DataFrame({'colname':col, #each column extracted from the for loop
                          '#uniq_':[len(data[col].unique())], #lists unique values number of unique values to specified columns
                          'dtype':[data[col].dtype], #datatype used for column
                          '#missing_':[data[col].isna().sum()], #lists out all the columns which are NA values
                          'is_PKey':[len(data[col].unique()) == data.shape[0]]}) #data.shape returns the dimensions of data each time
                          #checks if the numberofuniquevalues is equal to the numberofrows each time (if true then primarykey)
    topview_data = pd.concat([topview_data,datum],axis = 0) #concatinates the datatuple created each time to finaltopview
    #axis 0 states horizontal/rows axis 1 states vertical/columns
    
topview_data #Prints TopView Data

           colname  #uniq_    dtype  #missing_  is_PKey
0            Brand      33   object          0    False
0            Model     102   object          0    False
0         AccelSec      55  float64          0    False
0     TopSpeed_KmH      25    int64          0    False
0         Range_Km      50    int64          0    False
0  Efficiency_WhKm      54    int64          0    False
0   FastCharge_KmH      51   object          0    False
0      RapidCharge       2   object          0    False
0       PowerTrain       3   object          0    False
0         PlugType       4   object          0    False
0        BodyStyle       9   object          0    False
0          Segment       8   object          0    False
0            Seats       5    int64          0    False
0        PriceEuro      87    int64          0    False

# Truely Validate Data

#### We see that there are no mission values and each attribute is individually a primary key
>So to overcome the problem we combine the Brand and Model attributes to a single Brand+Model attribute and create a superior primary key
>And we also manually check for the missing values to deal with them

In [27]:
#creates a new attribute combining brand&model for primary key
data['brand_model_key'] = data['Brand'].astype(str) + data['Model'].astype(str)
#checks number of unique attributes, the number of data and if those attributes are the same as shape
len(data['brand_model_key'].unique()), data.shape[0] , len(data['brand_model_key'].unique()) == data.shape[0]

(102, 103, False)